# PostgreSQL DB settings
POSTGRES_USER=clerk-app
POSTGRES_PASSWORD=changeme
POSTGRES_DB=clerk

# Anthropic model
ANTHROPIC_API_MODEL='claude-haiku-4-5-20251001'

# Anthropic API KEY
ANTHROPIC_API_KEY=

# Voyage model
VOYAGE_API_MODEL='voyage-3-lite'

# Voyage API Key
VOYAGE_API_KEY=